<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Регистрация Клиента</h3>
        </div>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
