<div class="row">
  <div class="col-12">
    <%= render_action_links(:create, 'cuts', 'Создать новый тип обработки', new_cut_path) %>
  </div>
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title text-center font-weight-bold">Типы обработки</h3>
      </div>
      <div class="card-body table-responsive p-0">
        <table class="table table-condensed">
          <tr>
            <th>Наименование:</th>
            <th>Стоимость расходных материалов за час (сом):</th>
            <th>ПНР за час (сом):</th>
            <th>Максимальная длина листа (мм):</th>
            <th>Максимальная ширина листа (мм):</th>
            <th></th>
          </tr>
					<%= render @cuts %>
        </table>
      </div>
    </div>
  </div>
</div>
