<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title text-center font-weight-bold">Таблица данных</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body table-responsive p-0">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th colspan="4"></th>
              <% @cut.each do |cut| %>
              <th colspan="4" class="text-center"><%= cut.name %></th>
              <% end %>
            <tr>
              <th scope="col">Название</th>
              <th scope="col">Цена</th>
              <th scope="col">Макс длинна</th>
              <th scope="col">Макс ширина</th>
              <% @cut.each do |cut| %>
                <th scope="col">Мин отверст</th>
                <th scope="col">Потребление сом/час</th>
                <th scope="col">Скорость мм/час</th>
                <th scope="col">Цена за пробивку, сом</th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <%= render collection: @materials, partial: 'constructor/material' %>
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div><!-- /.row -->

