<!-- Navbar -->
  <nav class="main-header navbar navbar-expand" style="background: #f4f6f9">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" style="border: 1px solid #C2C7D0; border-radius: 5px">
        	<i class="fa fa-bars" style="color: #C2C7D0"></i>
        </a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->